# Ignore huge files and download on demand instead of storing it inside git...
libs/*.jar

# Build system files
.gradle/*
build/*

# Eclipse files:
eclipse
!eclipse/.metadata/org.eclipse.debug.core/.launches/*

# IDEA files:
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
gffs.iml
gffs.ipr
gffs.iws

# Kate files:
*.kate-swp
