# Ignore huge files and download on demand instead of storing it inside git...
libs/*.jar

# Build system files
.gradle/*
build/*

# IDEA files:
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
gffs.iml
gffs.ipr
gffs.iws
